<div class="col-sm-4 col-sm-offset-4">
	<h2>Přidání uživatele</h2>
	{form addUserForm, role => 'form'}
		<div class="form-group">
			{label username/}
			{input username, placeholder => 'Uživatelské jméno', class => 'form-control'}
		</div>
		<div class="form-group">
			{label role/}
			{input role, class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>