{block content}

	<div class="col-sm-4 col-sm-offset-4">
		<h2>Informace o uživateli</h2>
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<th>Jméno:</th>
				<td>{$user->identity->username}</td>
			</tr>
			<tr>
				<th>ID:</th>
				<td>{$user->id}</td>
			</tr>
			<tr>
				<th>Role:</th>
				<td>{$user->roles[0]}</td>
			</tr>
			<tr>
				<th>Stav konta:</th>
				<td>{$user->identity->account}</td>
			</tr>
		</table>
	</div>

	{control changePasswordForm}

{/block}