<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {control css}
        <title>{ifset title}{include title|striptags} | {ifset}Sázkový systém</title>
    </head>
    <body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		
		{include content}
				
		{control js}
    </body>
</html>