<nav class="navbar navbar-inverse">
 	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" n:href=":Front:Homepage:">Sázky SGO</a>
    	</div>
    	{if $user->isLoggedIn()}
			{if $user->isInRole('admin')}
    			<ul class="nav navbar-nav">
      				<li class="dropdown">
        				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrace
        				<span class="caret"></span></a>
        				<ul class="dropdown-menu">
							<li class="dropdown-header">Sázky</li>
            				<li><a>Obecné</a></li>
            				<li><a n:href=":Admin:Defining:">Definování</a></li>
            				<li><a href="#">Žádosti</a></li>
            				<li><a href="#">Činy</a></li>
            				<li><a href="#">Sázky</a></li>
            				<li><a>Sázející</a></li>
            				<li><a n:href=":Admin:AddMatch:selectType">Přidání zápasu</a></li>
            				<li><a>Zápasy</a></li>
                    		<li class="divider"></li>
                    		<li class="dropdown-header">Ostatní</li>
                    		<li><a n:href=":Admin:Users:">Uživatelé</a></li>
                    		<li><a href="#">Systém</a></li>
						</ul>
      				</li>
	    		</ul>
	    	{/if}
	    	<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle"  data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {$user->identity->username} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Sázky</li>
						<li><a>Zápasy</a></li>
					</ul>
				</li>
				<li><a n:href=":Front:LogIn:out"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Odhlásit</a></li>
			</ul>
		{/if}
  	</div>
</nav>