{block content}

	<h1>Test</h1>
        {form testForm, role => 'form'}
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    {label date/}
                    <div class="input-group date" id="datetimepicker1">
                        {input date, class => 'form-control'}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {input send, class => 'btn btn-success'}
            </div>
        {/form}
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                	locale: 'cs'
                });
            });
        </script>
{/block}