<div class="col-sm-4">
	<h2>Přidání druhu</h2>
	{form addSortForm, role => 'form'}
		<div class="form-group">
			{label name/}
			{input name, placeholder => 'Název druhu', class => 'form-control'}
		</div>
		<div class="form-group">
			{label color/}
			{input color, class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>