<h1>Přihlášení</h1>
{form logInForm, role => "form"}
	
	<div class="form-group">
		{label username /}
		{input username, placeholder => "Jméno", class => "form-control"}
	</div>
	<div class="form-group">
		{label password/}
		{input password, placeholder => "Heslo", class => "form-control"}
	</div>
	<div class="form-group">
		<div class="checkbox">
			{label remember}
				{input remember, placeholder => "Jméno"}
			{/label}
		</div>
	</div>
	{input send, class => "btn btn-success"}

{/form}