<div class="col-sm-4 col-sm-offset-4">
	{form selectTypeForm, role => 'form'}
		<div class="form-group">
			{label type/}
			{input type, class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>