<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {control css}
        <title>{ifset title}{include title|striptags} | {/ifset}Sázkový systém</title>
        {control js}
    </head>
    <body>
        {include './../../presenters/templates/menu.latte'}
		<div class="container-fluid">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
                <a href="#" class="close" data-dismiss="alert" aris-label="Close">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
                {$flash->message}
            </div>
			{include content}
		</div>
    </body>
</html>