{block content}
	
	<h1>Definování</h1>
	<div class="row">
		<div class="col-sm-1"></div>
		{control addSortForm}
		<div class="col-sm-2"></div>
		{control addTypeForm}
		<div class="col-sm-1"></div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h2>Druhy</h2>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>ID</th>
					<th>Název</th>
					<th>Barva</th>
				</tr>
				<tr n:foreach="$sorts as $sort">
					<td>{$sort->id}</td>
					<td>{$sort->name}</td>
					<td style="color: {$sort->color|noescape}">██████[{$sort->color}]</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-6">
			<h2>Typy</h2>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>ID</th>
					<th>Název</th>
					<th>Barva</th>
					<th>Druh</th>
				</tr>
				<tr n:foreach="$types as $type">
					<td>{$type->id}</td>
					<td>{$type->name}</td>
					<td style="color: {$type->color|noescape}">██████[{$type->color}]</td>
					<td style="color: {$type->sort->color|noescape}">{$type->sort->name}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		{control addTeamForm}
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
		<h2>Týmy</h2>
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>ID</th>
					<th>Název</th>
					<th>Typ</th>
				</tr>
				<tr n:foreach="$teams as $team">
					<td>{$team->id}</td>
					<td>{$team->name}</td>
					<td style="color: {$team->type->color|noescape}">{$team->type->name}</td>
				</tr>
			</table>
		</div>
	</div>

{/block}