<div class="col-sm-4 col-sm-offset-4">
	<h2>Přidání týmu</h2>
	{form addTeamForm, role => 'form'}
		<div class="form-group">
			{label name/}
			{input name, placeholder => 'Název týmu', class => 'form-control'}
		</div>
		<div class="form-group">
			{label type/}
			{input type, class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>