<div class="col-sm-4 col-sm-offset-4">
	<h2>Změna hesla</h2>
	{form changePasswordForm, role => 'form'}
		<div class="form-group">
			{label old_password/}
			{input old_password, placeholder => 'Heslo', class => 'form-control'}
		</div>
		<div class="form-group">
			{label new_password/}
			{input new_password, placeholder => 'Nové heslo', class => 'form-control'}
		</div>
		<div class="form-group">
			{label new_password_repeat/}
			{input new_password_repeat, placeholder => 'Nové heslo', class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>