{block content}

	<h1 n:block="title">Uživatelé</h1>

	{control addUserForm}

	{control changeRoleForm}

	<div class="col-sm-6 col-sm-offset-3">
		<h2>Seznam uživatelů</h2>
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<th>ID</th>
				<th>Jméno</th>
				<th>Role</th>
				<th>Stav</th>
				<th>Akce</th>
			</tr>
			<tr n:foreach="$users as $user">
				<td>{$user->id}</td>
				<td>{$user->username}</td>
				<td>{$user->role}</td>
				<td n:if="$user->isActive()" class="success">Aktivní</td>
				<td n:if="!$user->isActive()" class="danger">Neaktivní</td>
				<td>
					<a n:href="recoverPassword! $user->id">
						<button type="button" class="btn btn-info btn-xs">Obnovit heslo</button>
					</a>
					<a n:if="$user->isActive()" n:href="changeState! $user->id">
						<button type="button" class="btn btn-danger btn-xs">Deaktivovat</button>
					</a>
					<a n:if="!$user->isActive()" n:href="changeState! $user->id">
						<button type="button" class="btn btn-success btn-xs">Aktivovat</button>
					</a>
				</td>
			</tr>
		</table>
	</div>


{/block}