<div class="col-sm-4">
	<h2>Přidání typu</h2>
	{form addTypeForm, role => 'form'}
		<div class="form-group">
			{label name/}
			{input name, placeholder => 'Název druhu', class => 'form-control'}
		</div>
		<div class="form-group">
			{label color/}
			{input color, class => 'form-control'}
		</div>
		<div class="form-group">
			{label sort/}
			{input sort, class => 'form-control'}
		</div>
		{input send, class => 'btn btn-success'}
	{/form}
</div>